.rect{
  width: 100%;
  max-width: 300px;
  padding: 50px;
  text-align: center;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
  background: grey;
}

.label{
  display: inline-block;
  margin-top: 10px;
  background: whitesmoke;
  padding: 10px;
}